In [1]:
import pandas as pd
import numpy as np

#Atur random seet agar hasil konsisten
np.random.seed(42)

#jumlah data
n = 500

#Generate umur acak (rentang 20-60 tahun)
age = np.random.randint(20, 61, n)

# Pilihan kota
cities = ["Jakarta", "Bandung", "Surabaya", "Medan", "Yogyakarta"]
city = np.random.choice(cities, n)

# Pilihan pendidikan
educations = ["Highschool", "Bachelor", "Master", "PhD"]
education = np.random.choice(educations, n)

# Buat salary dengan formula sederhana
# Base salary tergantung education
edu_salary_map = {
    "Highschool": 4_000_000,
    "Bachelor": 7_000_000,
    "Master": 10_000_000,
    "PhD": 14_000_000
}

# Tambahkan faktor kota
city_factor = {
    "Jakarta": 1.3,
    "Bandung": 1.1,
    "Surabaya": 1.15,
    "Medan": 1.05,
    "Yogyakarta": 0.9
}

# Hitung salary
salary = []
for a, c, e in zip(age, city, education):
    base = edu_salary_map[e]
    # umur nambah penghasilan Â±100k per tahun di atas 20
    age_bonus = (a - 20) * 100_000
    # faktor kota
    c_factor = city_factor[c]
    # tambah sedikit random noise
    noise = np.random.normal(0, 500_000)
    sal = (base + age_bonus) * c_factor + noise
    salary.append(max(3_000_000, sal))  # jangan sampai gaji terlalu kecil

# Buat dataframe
df = pd.DataFrame({
    "age": age,
    "city": city,
    "education": education,
    "salary": np.round(salary, -3).astype(int)  # dibulatkan ribuan
})

# Simpan ke CSV
df.to_csv("salary_data.csv", index=False)

print("Dataset berhasil dibuat: salary_data.csv")
print(df.head())

Dataset berhasil dibuat: salary_data.csv
   age        city   education    salary
0   58  Yogyakarta         PhD  16377000
1   48    Surabaya         PhD  19344000
2   34    Surabaya         PhD  18322000
3   27     Jakarta  Highschool   5768000
4   40       Medan         PhD  16545000